.header-search {
  color: #fff;
  padding-top: 55px;
  padding-bottom: 35px;
  background: url("../img/header_search.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .header-search .container {
    position: relative; }
  .header-search h1 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px; }
  .header-search .header-content {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center; }
  .header-search .header-search-total {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 10px;
    margin-bottom: 30px;
    display: inline-block;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px; }
  .header-search .header-search-btn {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
    padding: 13px 47px;
    text-transform: uppercase; }
  .header-search .header-content-text {
    color: #fff;
    text-decoration: none; }
    .header-search .header-content-text:hover {
      text-decoration: underline; }
  @media (min-width: 992px) {
    .header-search {
      padding-top: 40px;
      padding-bottom: 50px; }
      .header-search .header-content {
        top: 0;
        right: 15px;
        text-align: left;
        position: absolute; }
      .header-search .header-search-total {
        margin-bottom: 0; }
      .header-search .header-search-btn {
        padding: 8px 24px; } }
  @media (min-width: 1200px) {
    .header-search {
      padding-top: 60px;
      padding-bottom: 75px; } }

.main {
  z-index: 5;
  position: relative;
  font-family: "raleway";
  padding-top: 30px;
  padding-bottom: 100px;
  background: #f6fafd; }

.main-row {
  width: 100%; }
  .main-row .main-content {
    min-height: 1px; }
  .main-row .main-sidebar {
    min-height: 1px; }
  @media (min-width: 992px) {
    .main-row {
      display: table; }
      .main-row .main-sidebar {
        width: 250px;
        display: table-cell;
        vertical-align: top; }
      .main-row .main-content {
        display: table-cell;
        vertical-align: top;
        padding-right: 30px; } }
  @media (min-width: 1200px) {
    .main-row .main-content {
      padding-right: 50px; } }

.main-filter-wrap {
  z-index: 8;
  position: relative; }

.filter-toggle {
  width: 100%;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  color: #101e2d;
  padding: 17px 15px;
  text-align: center;
  margin-bottom: 30px;
  display: inline-block;
  border: 2px solid #00bcd6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }
  .filter-toggle span {
    height: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    position: relative;
    display: inline-block; }
  .filter-toggle > span:before {
    bottom: 0;
    right: 12px;
    z-index: 1;
    width: 7px;
    height: 3px;
    content: '';
    position: absolute;
    background: #101e2d; }
  .filter-toggle > span > span {
    padding-right: 40px; }
    .filter-toggle > span > span:before {
      top: 0;
      right: 0;
      z-index: 1;
      width: 29px;
      height: 3px;
      content: '';
      position: absolute;
      background: #101e2d; }
    .filter-toggle > span > span:after {
      top: 8px;
      right: 5px;
      z-index: 1;
      width: 19px;
      height: 3px;
      content: '';
      position: absolute;
      background: #101e2d; }
  .filter-toggle:hover {
    color: #101e2d; }
  @media (min-width: 992px) {
    .filter-toggle {
      display: none; } }

.main-filter {
  top: 100%;
  left: 0;
  right: 0;
  z-index: 8;
  display: none;
  background: #fff;
  padding: 15px 15px;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(58, 64, 91, 0.07);
  box-shadow: 0px 0px 25px 0px rgba(58, 64, 91, 0.07); }
  .main-filter.open {
    display: block; }
  .main-filter .main-filter-box {
    margin-bottom: 40px; }
  .main-filter .filter-box-second {
    display: none; }
  .main-filter .btn {
    width: 100%; }
  @media (min-width: 992px) {
    .main-filter {
      top: auto;
      left: auto;
      right: auto;
      display: block;
      position: relative; }
      .main-filter .filter-box-second {
        display: block; } }

.filter-box-second:last-child {
  margin-bottom: 0; }

.sidebar-heading {
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  margin-bottom: 15px; }

.form-group {
  margin-bottom: 20px; }

.form-slider {
  padding-bottom: 10px; }
  .form-slider .irs-line {
    top: 15px; }
  .form-slider .irs-bar {
    top: 15px;
    background: #0cc0d7; }
  .form-slider .irs-line-left {
    background: #eff1f6;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -ms-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px; }
  .form-slider .irs-line-mid {
    background: #eff1f6; }
  .form-slider .irs-line-right {
    background: #eff1f6;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    -ms-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0; }
  .form-slider .irs-slider {
    top: 8px;
    background: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(34, 35, 40, 0.4);
    box-shadow: 0px 7px 20px 0px rgba(34, 35, 40, 0.4); }
  .form-slider .irs-min,
  .form-slider .irs-max {
    display: none !important;
    visibility: hidden !important; }
  .form-slider .irs-from,
  .form-slider .irs-to,
  .form-slider .irs-single {
    top: auto;
    bottom: -15px;
    color: #282828;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    background: transparent; }

.form-label {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 5px; }

.form-select {
  width: 100%; }

.check-group {
  margin: 0;
  padding: 0;
  list-style: none; }
  .check-group > li {
    margin-bottom: 10px; }
    .check-group > li:last-child {
      margin-bottom: 0; }

.form-check {
  margin: 0;
  font-size: 0;
  line-height: 0;
  cursor: pointer;
  position: relative;
  display: inline-block; }
  .form-check input {
    display: none; }
  .form-check .icons {
    top: 0;
    left: 0;
    content: '';
    display: none;
    visibility: hidden;
    position: absolute; }
  .form-check .form-check-text {
    color: #282828;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    position: relative;
    padding-left: 25px;
    display: inline-block; }
    .form-check .form-check-text:before {
      top: 0;
      left: 0;
      z-index: 1;
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      display: inline-block;
      border: 2px solid #e4e7ef;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    .form-check .form-check-text:after {
      top: 0;
      left: 0;
      z-index: 2;
      content: '';
      width: 18px;
      height: 18px;
      position: absolute;
      visibility: hidden;
      display: inline-block;
      background: #00bcd6 url("../img/icon_check.png") 2px 2px no-repeat;
      opacity: 0;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
  .form-check input:checked + .form-check-text::after {
    opacity: 1;
    visibility: visible; }

.select2-results {
  overflow-x: hidden;
  overflow-y: auto; }

.select2-search-choice {
  color: #2a2a2a !important;
  background-color: #b0ebf3 !important; }
  .select2-search-choice .select2-search-choice-close {
    transition: opacity 0.25s linear;
    top: 0px;
    width: 100%;
    text-align: right;
    right: 0px;
    bottom: 0px;
    color: #2a2a2a !important;
    padding-right: 10px;
    font-size: 12px;
    text-decoration: none;
    position: absolute;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    -webkit-transition: opacity .25s linear; }

@keyframes love {
  0% {
    transform: scale(1); }
  25% {
    transform: scale(0.94); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }
.ico-svg {
  position: relative;
  display: inline-block;
  width: auto;
  height: 20px;
  fill: #999999;
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.btn-blue {
  color: #fff;
  padding: 11px 14px;
  border-radius: 4px;
  border: 1px solid #00bcd6;
  border-image: none;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  background: #00bcd6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -ms-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  background-image: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }
  .btn-blue:hover {
    color: #fff;
    background: #0edcf9;
    border-color: #0edcf9;
    text-decoration: none; }

.btn-border {
  color: #00bcd6;
  background: transparent; }
  .btn-border:hover {
    color: #fff;
    background: #00bcd6;
    border-color: #00bcd6; }

.instructor-like {
  z-index: 50;
  width: 17px;
  height: 14px; }
  .instructor-like svg {
    width: 100%;
    height: 100%; }
  .instructor-like .heart {
    width: 17px;
    height: 14px;
    display: inline-block;
    cursor: pointer;
    animation-duration: .45s;
    animation-timing-function: ease;
    animation-direction: alternate; }
    .instructor-like .heart svg {
      fill: transparent;
      color: transparent;
      stroke: #8d8d8d;
      transition: all .55s ease; }
  .instructor-like:hover .heart svg {
    stroke: #e73e3e; }
  .instructor-like .layer {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 100%;
    display: inline-block;
    transform: scale(0);
    pointer-events: none; }
    .instructor-like .layer svg {
      fill: #e73e3e;
      color: #e73e3e; }
  .instructor-like .hackyBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 17px;
    height: 14px;
    opacity: 0;
    cursor: pointer; }
    .instructor-like .hackyBox:checked ~ .heart {
      animation-name: love; }
      .instructor-like .hackyBox:checked ~ .heart svg {
        stroke: #e73e3e; }
    .instructor-like .hackyBox:checked ~ .layer {
      transform: scale(1);
      opacity: 1;
      z-index: -1;
      transition: transform .35s ease, opacity .35s ease; }

.instructor {
  background: #fff;
  padding: 30px 15px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(58, 64, 91, 0.07);
  box-shadow: 0px 0px 25px 0px rgba(58, 64, 91, 0.07); }
  .instructor:last-child {
    margin-bottom: 0; }
  .instructor .instructor-left {
    padding-bottom: 30px;
    border-bottom: 2px solid #dddddd; }
  .instructor .instructor-right {
    padding-top: 35px; }
  .instructor h5 {
    padding: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    list-style: none;
    margin: 0 0 10px 0; }
  .instructor .instructor-info {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap; }
    .instructor .instructor-info .instructor-info-left {
      text-align: center;
      margin-bottom: 15px; }
    .instructor .instructor-info .instructor-info-right {
      width: 100%; }
    .instructor .instructor-info .instructor-photo {
      width: 145px;
      overflow: hidden;
      margin: 0 auto 15px auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .instructor .instructor-info .instructor-position {
      color: #fff;
      font-size: 13px;
      line-height: 20px;
      padding: 2px 15px;
      background: #f6a02d;
      text-transform: uppercase;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      border-radius: 3px; }
    .instructor .instructor-info .instructor-heading {
      position: relative;
      padding-right: 20px;
      margin-bottom: 10px; }
      .instructor .instructor-info .instructor-heading:before, .instructor .instructor-info .instructor-heading:after {
        content: " ";
        display: table; }
      .instructor .instructor-info .instructor-heading:after {
        clear: both; }
      .instructor .instructor-info .instructor-heading .instructor-like {
        top: 1px;
        right: 0;
        position: absolute; }
      .instructor .instructor-info .instructor-heading .instructor-name {
        float: left;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        display: inline-block; }
      .instructor .instructor-info .instructor-heading .instructor-check {
        float: left;
        width: 20px;
        height: 20px;
        margin-left: 7px;
        position: relative;
        display: inline-block;
        background: url("../img/icon_check_green.png") 50% 50% no-repeat; }
      .instructor .instructor-info .instructor-heading .instructor-lock {
        float: left;
        width: 20px;
        height: 20px;
        position: relative;
        margin-left: 1px;
        display: inline-block;
        background: url("../img/icon_lock_yellow.png") 50% 50% no-repeat; }
    .instructor .instructor-info .instructor-rate {
      margin-bottom: 5px; }
      .instructor .instructor-info .instructor-rate:before, .instructor .instructor-info .instructor-rate:after {
        content: " ";
        display: table; }
      .instructor .instructor-info .instructor-rate:after {
        clear: both; }
      .instructor .instructor-info .instructor-rate .rate-title {
        float: left;
        font-size: 13px;
        line-height: 16px;
        padding: 4px 5px 2px 0; }
      .instructor .instructor-info .instructor-rate .rate-content {
        float: left;
        margin-right: 15px; }
      .instructor .instructor-info .instructor-rate .rate-review {
        float: left;
        font-size: 13px;
        line-height: 16px;
        color: #00bcd6;
        padding-top: 4px;
        display: inline-block;
        text-decoration: underline; }
        .instructor .instructor-info .instructor-rate .rate-review:hover {
          text-decoration: none; }
    .instructor .instructor-info .instructor-orders {
      margin-bottom: 10px; }
      .instructor .instructor-info .instructor-orders:before, .instructor .instructor-info .instructor-orders:after {
        content: " ";
        display: table; }
      .instructor .instructor-info .instructor-orders:after {
        clear: both; }
      .instructor .instructor-info .instructor-orders .instructor-orders-text {
        float: left;
        padding-top: 2px;
        margin-right: 8px; }
      .instructor .instructor-info .instructor-orders .instructor-orders-peoples {
        margin: 0;
        padding: 0;
        float: left;
        list-style: none; }
        .instructor .instructor-info .instructor-orders .instructor-orders-peoples:before, .instructor .instructor-info .instructor-orders .instructor-orders-peoples:after {
          content: " ";
          display: table; }
        .instructor .instructor-info .instructor-orders .instructor-orders-peoples:after {
          clear: both; }
        .instructor .instructor-info .instructor-orders .instructor-orders-peoples li {
          float: left;
          overflow: hidden;
          margin-left: -9px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
          .instructor .instructor-info .instructor-orders .instructor-orders-peoples li:first-child {
            margin-left: 0; }
    .instructor .instructor-info .instructor-specialization ul {
      margin: 0;
      padding: 0;
      font-size: 13px;
      line-height: 16px;
      list-style: none; }
      .instructor .instructor-info .instructor-specialization ul li {
        margin-bottom: 5px; }
        .instructor .instructor-info .instructor-specialization ul li span {
          color: #00bcd6; }
        .instructor .instructor-info .instructor-specialization ul li:last-child {
          margin-bottom: 0; }
  .instructor .instructor-skills .instructor-cert {
    margin-bottom: 25px; }
    .instructor .instructor-skills .instructor-cert h5 {
      margin-bottom: 15px; }
    .instructor .instructor-skills .instructor-cert ul {
      padding: 0;
      margin: 0 -5px;
      list-style: none; }
      .instructor .instructor-skills .instructor-cert ul:before, .instructor .instructor-skills .instructor-cert ul:after {
        content: " ";
        display: table; }
      .instructor .instructor-skills .instructor-cert ul:after {
        clear: both; }
      .instructor .instructor-skills .instructor-cert ul li {
        width: 25%;
        float: left;
        padding: 0 5px; }
        .instructor .instructor-skills .instructor-cert ul li a {
          display: block;
          overflow: hidden;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          border-radius: 3px;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(58, 64, 91, 0.17);
          box-shadow: 0px 0px 5px 0px rgba(58, 64, 91, 0.17); }
  .instructor .instructor-skills .instructor-progress {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 13px;
    line-height: 20px; }
    .instructor .instructor-skills .instructor-progress li {
      margin-bottom: 15px; }
      .instructor .instructor-skills .instructor-progress li:last-child {
        margin-bottom: 0; }
  .instructor .instructor-program {
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
    list-style: none; }
    .instructor .instructor-program > li {
      margin-bottom: 25px; }
    .instructor .instructor-program .instructor-program-title {
      width: 100%;
      display: table;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      margin-bottom: 15px; }
      .instructor .instructor-program .instructor-program-title strong {
        display: table-cell;
        vertical-align: top; }
      .instructor .instructor-program .instructor-program-title span {
        text-align: right;
        color: #00bcd6;
        display: table-cell;
        vertical-align: top;
        white-space: nowrap; }
  .instructor .instructor-buttons {
    padding: 0;
    margin: 0 -5px;
    list-style: none; }
    .instructor .instructor-buttons:before, .instructor .instructor-buttons:after {
      content: " ";
      display: table; }
    .instructor .instructor-buttons:after {
      clear: both; }
    .instructor .instructor-buttons > li {
      width: 50%;
      float: left;
      padding: 0 5px; }
    .instructor .instructor-buttons .btn-blue {
      width: 100%; }
  @media (min-width: 480px) {
    .instructor {
      padding-bottom: 40px; }
      .instructor .instructor-info {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row; }
        .instructor .instructor-info .instructor-info-left {
          width: 155px;
          min-width: 155px;
          margin-bottom: 0;
          padding-left: 10px; }
        .instructor .instructor-info .instructor-info-right {
          padding-left: 20px; }
      .instructor .instructor-skills:before, .instructor .instructor-skills:after {
        content: " ";
        display: table; }
      .instructor .instructor-skills:after {
        clear: both; }
      .instructor .instructor-skills .instructor-cert ul li {
        width: 104px;
        max-width: 104px; } }
  @media (min-width: 768px) {
    .instructor {
      padding: 30px 30px 40px 30px; }
      .instructor .instructor-left {
        padding-bottom: 10px; }
      .instructor .instructor-right {
        padding-top: 15px; }
      .instructor .instructor-info .instructor-info-left {
        width: 145px;
        min-width: 145px;
        padding-left: 0; }
      .instructor .instructor-info .instructor-specialization ul {
        margin: 0 -10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .instructor .instructor-info .instructor-specialization ul li {
          width: 50%;
          min-width: 50%;
          max-width: 100%;
          padding: 0 10px; }
      .instructor .instructor-skills {
        margin: 0 -15px; }
        .instructor .instructor-skills:before, .instructor .instructor-skills:after {
          content: " ";
          display: table; }
        .instructor .instructor-skills:after {
          clear: both; }
        .instructor .instructor-skills .instructor-cert {
          width: 50%;
          float: left;
          padding: 0 15px;
          margin-bottom: 0; }
          .instructor .instructor-skills .instructor-cert ul {
            margin: 0 -10px; }
            .instructor .instructor-skills .instructor-cert ul li {
              width: 108px;
              padding: 0 10px;
              margin-bottom: 15px; }
        .instructor .instructor-skills .instructor-progress {
          width: 50%;
          float: left;
          padding: 25px 15px 0 15px; }
      .instructor .instructor-program {
        margin: 0 -15px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        .instructor .instructor-program li {
          width: 50%;
          min-width: 50%;
          max-width: 50%;
          padding-left: 15px;
          padding-right: 15px;
          margin-bottom: 30px; } }
  @media (min-width: 992px) {
    .instructor {
      padding: 20px 0 20px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      .instructor h5 {
        font-size: 13px; }
      .instructor .instructor-left {
        width: 58%;
        max-width: 58%;
        min-width: 58%;
        padding: 0 20px;
        border-bottom: none;
        border-right: 2px solid #ddd; }
      .instructor .instructor-right {
        width: 42%;
        padding: 0 20px;
        max-width: 42%;
        min-width: 42%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        -moz-justify-content: space-between;
        justify-content: space-between; }
      .instructor .instructor-info .instructor-heading .instructor-name {
        float: left;
        font-size: 13px;
        font-weight: 700;
        line-height: 20px;
        display: inline-block; }
      .instructor .instructor-info .instructor-rate .rate-title {
        font-size: 10px; }
      .instructor .instructor-info .instructor-rate .rate-review {
        font-size: 10px; }
      .instructor .instructor-info .instructor-orders .instructor-orders-text {
        font-size: 10px; }
      .instructor .instructor-info .instructor-specialization ul {
        font-size: 10px;
        line-height: 15px; }
        .instructor .instructor-info .instructor-specialization ul li {
          width: 100%;
          min-width: 100%;
          max-width: 100%; }
      .instructor .instructor-skills {
        margin: 0 -10px; }
        .instructor .instructor-skills:before, .instructor .instructor-skills:after {
          content: " ";
          display: table; }
        .instructor .instructor-skills:after {
          clear: both; }
        .instructor .instructor-skills .instructor-cert {
          width: 50%;
          float: left;
          padding: 0 10px;
          margin-bottom: 0; }
          .instructor .instructor-skills .instructor-cert ul {
            margin: 0 -5px; }
            .instructor .instructor-skills .instructor-cert ul li {
              width: 50%;
              padding: 0 5px;
              margin-bottom: 10px; }
        .instructor .instructor-skills .instructor-progress {
          width: 50%;
          float: left;
          font-size: 10px;
          line-height: 15px;
          padding: 25px 10px 0 10px; }
      .instructor .instructor-program {
        margin: 0 -20px;
        font-size: 10px;
        line-height: 15px; }
        .instructor .instructor-program li {
          width: 100%;
          padding: 10px 20px;
          min-width: 100%;
          max-width: 100%;
          margin-bottom: 0; }
          .instructor .instructor-program li:nth-child(even) {
            background: #fafafa; }
        .instructor .instructor-program .instructor-program-title {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 10px; } }
  @media (min-width: 1200px) {
    .instructor {
      padding: 25px 0 25px 0; }
      .instructor h5 {
        font-size: 14px; }
      .instructor .instructor-left {
        padding-left: 30px; }
      .instructor .instructor-info .instructor-heading .instructor-name {
        float: left;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        display: inline-block; }
      .instructor .instructor-info .instructor-rate .rate-title {
        font-size: 13px; }
      .instructor .instructor-info .instructor-rate .rate-review {
        font-size: 13px; }
      .instructor .instructor-info .instructor-orders .instructor-orders-text {
        font-size: 13px; }
      .instructor .instructor-info .instructor-specialization ul {
        font-size: 13px;
        line-height: 20px; }
      .instructor .instructor-skills {
        margin: 0 -10px; }
        .instructor .instructor-skills:before, .instructor .instructor-skills:after {
          content: " ";
          display: table; }
        .instructor .instructor-skills:after {
          clear: both; }
        .instructor .instructor-skills .instructor-cert {
          width: 50%;
          float: left;
          padding: 0 10px;
          margin-bottom: 0; }
          .instructor .instructor-skills .instructor-cert ul {
            margin: 0 -5px; }
            .instructor .instructor-skills .instructor-cert ul li {
              width: 50%;
              padding: 0 5px;
              margin-bottom: 10px; }
        .instructor .instructor-skills .instructor-progress {
          width: 50%;
          float: left;
          font-size: 13px;
          line-height: 20px;
          padding: 25px 10px 0 10px; }
      .instructor .instructor-program {
        margin: 0 -20px;
        font-size: 12px;
        line-height: 20px; }
        .instructor .instructor-program li {
          width: 100%;
          padding: 10px 20px;
          min-width: 100%;
          max-width: 100%;
          margin-bottom: 0; }
          .instructor .instructor-program li:nth-child(even) {
            background: #fafafa; }
        .instructor .instructor-program .instructor-program-title {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 15px; } }

.main-sort {
  padding: 20px 15px;
  background: #fff;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(58, 64, 91, 0.07);
  box-shadow: 0px 0px 25px 0px rgba(58, 64, 91, 0.07); }
  .main-sort .main-sort-row {
    padding: 0;
    margin: 0;
    width: 100%;
    display: table;
    list-style: none;
    text-align: left; }
    .main-sort .main-sort-row:before, .main-sort .main-sort-row:after {
      content: " ";
      display: table; }
    .main-sort .main-sort-row:after {
      clear: both; }
    .main-sort .main-sort-row > li {
      width: 50%;
      font-size: 14px;
      line-height: 20px;
      padding: 0 5px;
      text-align: left;
      display: table-cell;
      vertical-align: middle; }
      .main-sort .main-sort-row > li:nth-child(1) {
        display: none; }
      .main-sort .main-sort-row > li:nth-child(4) {
        display: none; }
      .main-sort .main-sort-row > li:nth-child(5) {
        display: none; }
  .main-sort .sort-checkbox {
    width: 100%;
    cursor: pointer;
    font-weight: 400;
    display: inline-block; }
    .main-sort .sort-checkbox input {
      display: none; }
    .main-sort .sort-checkbox span {
      width: 100%;
      color: #2a2a2a;
      font-size: 12px;
      font-weight: 600;
      line-height: 20px;
      display: inline-block;
      position: relative;
      padding: 6px 12px;
      white-space: nowrap;
      border: 1px solid #00bcd6;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      border-radius: 4px; }
      .main-sort .sort-checkbox span i {
        top: 50%;
        right: 13px;
        width: 9px;
        height: 6px;
        margin-top: -3px;
        position: absolute;
        display: inline-block;
        background: url("../img/icon_down.png") 0 0 no-repeat; }
    .main-sort .sort-checkbox input:checked + span {
      color: #fff;
      background: #00bcd6; }
      .main-sort .sort-checkbox input:checked + span i {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
    .main-sort .sort-checkbox.sort-checkbox-arrow span {
      padding-right: 30px; }
    .main-sort .sort-checkbox.sort-checkbox-arrow input:checked + span {
      color: #2a2a2a;
      background: transparent; }
      .main-sort .sort-checkbox.sort-checkbox-arrow input:checked + span i {
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
  @media (min-width: 480px) {
    .main-sort {
      padding: 20px 25px; }
      .main-sort .main-sort-row > li:nth-child(1) {
        width: 85px;
        font-weight: 600;
        display: table-cell; } }
  @media (min-width: 768px) {
    .main-sort .main-sort-row > li:nth-child(4) {
      width: 150px;
      display: table-cell; } }
  @media (min-width: 1200px) {
    .main-sort .main-sort-row > li:nth-child(2) {
      width: 150px; }
    .main-sort .main-sort-row > li:nth-child(3) {
      width: 150px; }
    .main-sort .main-sort-row > li:nth-child(4) {
      width: 150px;
      display: table-cell; }
    .main-sort .main-sort-row > li:nth-child(5) {
      text-align: right;
      font-weight: 600;
      color: #00bcd6;
      white-space: nowrap;
      display: table-cell; } }

.select2-no-results {
  display: none !important; }

.btn_close {
  top: 28px;
  right: 28px;
  z-index: 50;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute; }
  .btn_close:after, .btn_close:before {
    top: 50%;
    left: 50%;
    z-index: 5;
    width: 20px;
    height: 1px;
    content: '';
    background: #333;
    position: absolute;
    margin: -1px 0 0 -10px; }
  .btn_close:after {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn_close:before {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.main-modal {
  max-width: 450px;
  background: #fff;
  padding: 40px 20px;
  position: relative; }
  .main-modal .main-modal-wrap {
    margin: 0 auto;
    max-width: 380px; }
  .main-modal .main-modal-title {
    color: #000;
    font-size: 22px;
    font-weight: 900;
    line-height: 22px;
    text-align: center;
    margin-bottom: 45px; }
  .main-modal .main-modal-row {
    margin-bottom: 15px; }
    .main-modal .main-modal-row:before, .main-modal .main-modal-row:after {
      content: " ";
      display: table; }
    .main-modal .main-modal-row:after {
      clear: both; }
  .main-modal .modal-program {
    margin: 0;
    padding: 0;
    list-style: none; }
    .main-modal .modal-program > li {
      margin-bottom: 25px; }
    .main-modal .modal-program .program-elem input[type="radio"] {
      display: none; }
    .main-modal .modal-program .program-elem .program-content {
      font-size: 13px;
      line-height: 20px;
      padding-left: 35px;
      position: relative; }
      .main-modal .modal-program .program-elem .program-content:before {
        top: 4px;
        left: 0;
        z-index: 1;
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        display: inline-block;
        border: 2px solid #e4e7ef;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px; }
      .main-modal .modal-program .program-elem .program-content:after {
        top: 4px;
        left: 0;
        z-index: 2;
        content: '';
        width: 18px;
        height: 18px;
        position: absolute;
        visibility: hidden;
        display: inline-block;
        background: #00bcd6 url("../img/icon_check.png") 2px 2px no-repeat;
        opacity: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px; }
      .main-modal .modal-program .program-elem .program-content .program-title {
        width: 100%;
        display: table;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        margin-bottom: 15px; }
        .main-modal .modal-program .program-elem .program-content .program-title strong {
          display: table-cell;
          vertical-align: top; }
        .main-modal .modal-program .program-elem .program-content .program-title span {
          text-align: right;
          color: #00bcd6;
          display: table-cell;
          vertical-align: top;
          white-space: nowrap; }
    .main-modal .modal-program .program-elem input[type="radio"]:checked + .program-content::after {
      opacity: 1;
      visibility: visible; }
  .main-modal .modal-buttons {
    padding: 0;
    margin: 0 -5px;
    list-style: none; }
    .main-modal .modal-buttons:before, .main-modal .modal-buttons:after {
      content: " ";
      display: table; }
    .main-modal .modal-buttons:after {
      clear: both; }
    .main-modal .modal-buttons > li {
      width: 50%;
      float: left;
      padding: 0 5px; }
    .main-modal .modal-buttons .btn-blue {
      width: 100%; }
  .main-modal .main-modal-content {
    font-size: 14px;
    line-height: 24px; }
    .main-modal .main-modal-content h5 {
      padding: 0;
      font-size: 16px;
      font-weight: 900;
      line-height: 20px;
      margin: 0 0 10px 0; }
    .main-modal .main-modal-content p {
      font-size: 14px !important;
      line-height: 24px !important;
      margin-bottom: 30px; }
  @media (min-width: 480px) {
    .main-modal {
      padding: 40px 40px; } }
  @media (min-width: 768px) {
    .main-modal {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .main-modal {
      width: 940px;
      padding: 40px 65px 50px 65px;
      max-width: inherit; }
      .main-modal .main-modal-wrap {
        max-width: inherit; }
      .main-modal .main-modal-row {
        margin: 0 -35px 25px -35px; }
        .main-modal .main-modal-row .main-modal-column {
          width: 50%;
          padding: 0 35px; }
          .main-modal .main-modal-row .main-modal-column.column-left {
            float: left; }
          .main-modal .main-modal-row .main-modal-column.column-right {
            float: right; }
      .main-modal .modal-buttons {
        width: 350px; }
      .main-modal .modal-form-content {
        width: 340px; } }

.tooltip {
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
  font-size: 12px;
  line-height: 16px;
  background: #fff;
  white-space: nowrap;
  border-radius: 6px !important; }
  .tooltip.top {
    top: -36px !important;
    padding: 0; }
  .tooltip.right {
    top: -36px !important;
    margin-left: -38px !important;
    padding: 0; }
  .tooltip:before {
    top: 100%;
    left: 20px;
    content: '';
    position: absolute;
    border: 8px solid transparent;
    border-top: 8px solid #fff; }
  @media (min-width: 768px) {
    .tooltip {
      width: auto;
      height: auto;
      overflow: inherit;
      visibility: visible; } }

.tooltip-inner {
  overflow: hidden;
  white-space: nowrap;
  color: #1b1b1b !important;
  background: transparent;
  padding: 4px 12px !important;
  border-radius: 3px !important;
  box-shadow: 0px 3px 16px 0px rgba(48, 51, 65, 0.15) !important; }

.tooltip-inner11 {
  padding: 3px 8px;
  border-radius: 4px;
  text-align: center;
  color: white;
  text-decoration: none;
  max-width: 200px;
  background-color: black; }

.select2-search-choice {
  padding-right: 20px !important; }
  .select2-search-choice .select2-search-choice-close {
    opacity: 1 !important; }
    .select2-search-choice .select2-search-choice-close:after {
      color: #2a2a2a !important;
      font-size: 8px !important; }

.header-training {
  color: #fff;
  padding-top: 100px;
  padding-bottom: 80px;
  background: url("../img/header_training.jpg") 50% 50% no-repeat;
  background-size: cover; }
  .header-training .container {
    position: relative; }
  .header-training h1 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0; }
  .header-training .header-training-icon {
    width: 68px;
    display: block;
    margin: 0 auto 10px auto; }
  @media (min-width: 992px) {
    .header-training {
      height: 340px;
      padding-top: 135px;
      padding-bottom: 100px; }
      .header-training h1 {
        font-size: 48px; } }

.main-white {
  background: #fff; }

.flex-row {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: none;
  flex-wrap: nowrap;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .flex-row .flex-content {
    min-height: 1px;
    order: 2; }
  .flex-row .flex-sidebar {
    min-height: 1px;
    order: 1; }
  @media (min-width: 992px) {
    .flex-row {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
      .flex-row .flex-sidebar {
        width: 250px;
        order: 2; }
      .flex-row .flex-content {
        order: 1;
        padding-right: 30px;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1; } }
  @media (min-width: 1200px) {
    .flex-row .flex-content {
      padding-right: 50px; } }

.btn-radius {
  color: #b8c3cd;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  padding: 2px 10px;
  background: #ffffff;
  display: inline-block;
  border: 1px solid #b8c3cd;
  font-family: "Open Sans", sans-serif;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  border-radius: 13px; }
  .btn-radius:hover {
    color: #fff;
    background: #00bcd4;
    border-color: #00bcd4; }

.checkbox-lap {
  cursor: pointer;
  color: #b1bdc7;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  display: inline-block;
  font-family: "Open Sans", sans-serif; }
  .checkbox-lap input[type='checkbox'] {
    display: none; }
  .checkbox-lap span {
    padding: 4px 0 0 35px;
    display: inline-block; }
    .checkbox-lap span:before {
      top: 0;
      left: 0;
      z-index: 5;
      content: '';
      width: 25px;
      height: 25px;
      position: absolute;
      border: 1px solid #e6eaee;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .checkbox-lap span:after {
      top: 7px;
      left: 6px;
      z-index: 10;
      content: '';
      width: 13px;
      height: 11px;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      background: url("../img/icon_check.svg") 0 0 no-repeat;
      background-size: cover; }
    .checkbox-lap span:hover {
      color: #00bcd4; }
      .checkbox-lap span:hover:before {
        border-color: #00bcd4; }
  .checkbox-lap input[type='checkbox']:checked + span {
    color: #00bcd4; }
    .checkbox-lap input[type='checkbox']:checked + span:before {
      background: #00bcd4;
      border-color: #00bcd4; }
    .checkbox-lap input[type='checkbox']:checked + span:after {
      opacity: 1;
      visibility: visible; }

.radio-lap {
  cursor: pointer;
  color: #b1bdc7;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  position: relative;
  display: inline-block;
  font-family: "Open Sans", sans-serif; }
  .radio-lap input[type='radio'] {
    display: none; }
  .radio-lap span {
    padding: 4px 0 0 35px;
    display: inline-block; }
    .radio-lap span:before {
      top: 0;
      left: 0;
      z-index: 5;
      content: '';
      width: 25px;
      height: 25px;
      position: absolute;
      border: 1px solid #e6eaee;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .radio-lap span:after {
      top: 7px;
      left: 7px;
      z-index: 10;
      content: '';
      width: 11px;
      height: 11px;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      background: #00bcd4;
      background-size: cover;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
    .radio-lap span:hover {
      color: #00bcd4; }
      .radio-lap span:hover:before {
        border-color: #00bcd4; }
  .radio-lap input[type='radio']:checked + span {
    color: #00bcd4; }
    .radio-lap input[type='radio']:checked + span:before {
      border-color: #00bcd4; }
    .radio-lap input[type='radio']:checked + span:after {
      opacity: 1;
      visibility: visible; }

.training {
  max-width: 350px;
  overflow: hidden;
  background: #fff;
  margin: 0 auto 16px auto;
  border: 1px solid #e6eaee;
  font-family: "Open Sans", sans-serif;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 8px 18px rgba(0, 0, 1, 0.1);
  box-shadow: 0 8px 18px rgba(0, 0, 1, 0.1); }
  .training .training-media {
    overflow: hidden; }
  .training .training-media-wrap {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    position: relative; }
  .training .training-media-slider {
    position: relative;
    overflow: hidden; }
    .training .training-media-slider .slider-item {
      border: none;
      outline: none; }
      .training .training-media-slider .slider-item > a {
        display: block;
        position: relative; }
    .training .training-media-slider .training-play {
      top: 50%;
      left: 50%;
      z-index: 50;
      width: 74px;
      height: 74px;
      color: #fff;
      padding: 17px 0 17px 7px;
      font-size: 28px;
      line-height: 28px;
      text-align: center;
      position: absolute;
      margin: -37px 0 0 -37px;
      border: 6px solid #f3f3f3;
      background-color: #000000;
      opacity: 0.7;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .training .training-media-slider .training-play:hover {
        opacity: 1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
    .training .training-media-slider .slick-dots {
      left: 0;
      right: 0;
      bottom: 20px;
      margin: 0;
      padding: 0;
      z-index: 11;
      font-size: 0;
      line-height: 0;
      text-align: center;
      list-style: none;
      position: absolute; }
      .training .training-media-slider .slick-dots li {
        margin: 0 2px;
        display: inline-block; }
        .training .training-media-slider .slick-dots li button {
          margin: 0;
          padding: 0;
          width: 8px;
          height: 8px;
          opacity: 0.7;
          border: none;
          outline: none;
          position: relative;
          background: transparent;
          display: inline-block;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          border-radius: 50%; }
          .training .training-media-slider .slick-dots li button:before {
            top: 2px;
            left: 2px;
            width: 4px;
            height: 4px;
            content: '';
            background: #fff;
            position: absolute;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            border-radius: 50%; }
        .training .training-media-slider .slick-dots li.slick-active button {
          background: #fff; }
    .training .training-media-slider .slide-nav {
      top: 50%;
      height: 18px;
      color: #fff;
      z-index: 10;
      font-size: 18px;
      margin-top: -9px;
      line-height: 18px;
      cursor: pointer;
      opacity: 0.7;
      position: absolute;
      display: inline-block;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
      .training .training-media-slider .slide-nav:hover {
        opacity: 1;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
      .training .training-media-slider .slide-nav.prev {
        left: 25px; }
      .training .training-media-slider .slide-nav.next {
        right: 25px; }
  .training .training-body {
    position: relative; }
  .training .training-rate {
    top: -1px;
    right: -1px;
    z-index: 20;
    width: 74px;
    height: 71px;
    display: none;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    position: absolute;
    padding: 15px 0 0 44px;
    background: url("../img/blue_corner.png") 0 0 no-repeat; }
  .training .training-heading {
    color: #1a1c1d;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 20px;
    font-family: raleway; }
  .training .training-content {
    padding: 25px 25px 10px 25px; }
  .training .training-elem {
    padding: 0;
    list-style: none;
    margin: 0 -8px 0 0; }
    .training .training-elem:before, .training .training-elem:after {
      content: " ";
      display: table; }
    .training .training-elem:after {
      clear: both; }
    .training .training-elem > li {
      float: left;
      margin: 0 8px 12px 0; }
      .training .training-elem > li:first-child {
        width: 100%; }
    .training .training-elem .training-elem-text {
      color: #707679;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      display: inline-block;
      font-family: "Open Sans", sans-serif; }
  .training .training-footer {
    padding: 10px 20px;
    background-color: #f4f7f9; }
    .training .training-footer:before, .training .training-footer:after {
      content: " ";
      display: table; }
    .training .training-footer:after {
      clear: both; }
  .training .training-result {
    margin: 0;
    padding: 0;
    font-size: 0;
    line-height: 0;
    float: right;
    list-style: none; }
    .training .training-result > li {
      float: left;
      text-align: center;
      margin-left: 6px; }
      .training .training-result > li:first-child {
        width: 100%;
        color: #707679;
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        text-align: left;
        padding: 12px 5px 10px 0;
        font-family: "Open Sans", sans-serif; }
      .training .training-result > li:last-child {
        padding-top: 7px;
        padding-left: 10px; }
    .training .training-result .training-result-icon {
      width: 32px;
      height: 32px;
      display: block;
      overflow: hidden;
      border: 3px solid transparent;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .training .training-result .training-result-icon.border-yellow {
        border-color: #efe650; }
      .training .training-result .training-result-icon.border-blue {
        border-color: #c3dae0; }
      .training .training-result .training-result-icon.border-orange {
        border-color: #ffa42e; }
    .training .training-result .training-result-value {
      color: #b8c3cd;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      padding-top: 5px;
      display: inline-block;
      font-family: "Open Sans", sans-serif; }
    .training .training-result .result-total {
      color: #fff;
      width: 36px;
      height: 28px;
      padding: 4px 0;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-align: center;
      display: inline-block;
      background-color: #b8c3cd;
      font-family: "Open Sans", sans-serif;
      -webkit-border-radius: 14px;
      -moz-border-radius: 14px;
      -ms-border-radius: 14px;
      border-radius: 14px; }
  @media (min-width: 768px) {
    .training {
      width: 100%;
      max-width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: nowrap;
      -moz-flex-wrap: nowrap;
      -ms-flex-wrap: none;
      flex-wrap: nowrap; }
      .training .training-media {
        width: 349px; }
      .training .training-rate {
        display: inline-block; }
      .training .training-body {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column; }
      .training .training-content {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -moz-box-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1; }
      .training .training-elem > li:first-child {
        width: auto; }
      .training .training-result > li:first-child {
        width: auto; } }

.filterTraining {
  max-width: 350px;
  margin: 0 auto 20px auto; }
  .filterTraining .filterTraining-box {
    margin-bottom: 10px; }
    .filterTraining .filterTraining-box.filterTraining-toggle .filterTraining-title i {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .filterTraining .filterTraining-box.filterTraining-toggle .filterTraining-list {
      height: auto;
      padding: 20px 0;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .filterTraining .filterTraining-title {
    color: #8a97a3;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    padding-right: 30px;
    display: inline-block;
    position: relative;
    font-family: "raleway", sans-serif;
    text-decoration: none; }
    .filterTraining .filterTraining-title i {
      right: 0;
      top: 1px;
      position: absolute;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
  .filterTraining .filterTraining-list {
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
    list-style: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .filterTraining .filterTraining-list > li {
      margin-bottom: 10px; }
  .filterTraining .filterTraining-line {
    *zoom: 1;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 7px;
    margin-top: 15px;
    background-color: #e6eaee; }
    .filterTraining .filterTraining-line:before, .filterTraining .filterTraining-line:after {
      content: " ";
      display: table; }
    .filterTraining .filterTraining-line:after {
      clear: both; }
    .filterTraining .filterTraining-line input {
      top: 0;
      z-index: 0;
      opacity: 0;
      width: 20px;
      height: 20px;
      display: none !important;
      position: absolute;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); }
    .filterTraining .filterTraining-line input:checked ~ label {
      height: 7px;
      background: #fec46e; }
    .filterTraining .filterTraining-line label {
      width: 33.33%;
      height: 7px;
      float: right;
      color: #fff;
      font-size: 0;
      line-height: 0;
      cursor: pointer;
      text-align: center;
      position: relative;
      display: inline-block;
      z-index: 1; }
      .filterTraining .filterTraining-line label:first-child {
        -webkit-border-radius: 4px 0 0 4px;
        -moz-border-radius: 4px 0 0 4px;
        -ms-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px; }
  @media (min-width: 992px) {
    .filterTraining {
      margin: 0; }
      .filterTraining .filterTraining-box {
        margin-bottom: 10px; }
        .filterTraining .filterTraining-box.filterTraining-toggle .filterTraining-title i {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg); }
        .filterTraining .filterTraining-box.filterTraining-toggle .filterTraining-list {
          height: 0;
          padding: 0;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
      .filterTraining .filterTraining-title i {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); }
      .filterTraining .filterTraining-list {
        height: auto;
        padding: 20px 0; } }

@font-face {
  font-family: Flat-UI-Pro-Icons;
  src: url("../fonts/glyphicons/flat-ui-icons-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons/flat-ui-icons-regular.woff") format("woff"), url("../fonts/glyphicons/flat-ui-icons-regular.ttf") format("truetype"), url("../fonts/glyphicons/flat-ui-icons-regular.svg#flat-ui-pro-icons-regular") format("svg"); }
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 0; }

.embed-responsive-16by9 {
  padding-bottom: 56.25%; }

.embed-responsive-4by3 {
  padding-bottom: 75%; }

.img-fluid {
  max-width: 100%;
  height: auto; }

/*# sourceMappingURL=main.css.map */
