
// Header

.header {
	color: #ddd;
	padding: 10px 0;
	background: #1f2224;

	&__logo {
		float: left;
		width: 141px;
		font-size: 0;
		line-height: 0;
		display: block;
	}

	&__announcement {
		float: right;
		height: 20px;
		font-size: 15px;
		line-height: 20px;
		color: $color-blue;
		text-decoration: none;
		display: inline-block;

		span {
			display: none;
		}

		i {

		}

		&:hover {
			color: #fff;
		}
	}

	&__auth {
		float: right;
		height: 20px;
		font-size: 15px;
		line-height: 20px;
		margin-left: 20px;
		color: $color-blue;
		text-decoration: none;
		display: inline-block;

		span {
			display: none;
		}

		i {

		}

		&:hover {
			color: #fff;
		}
	}

	@media (min-width: $screen-sm-min) {

		&__announcement {

			span {
				display: inline;
			}
		}

		&__auth {

			span {
				display: inline;
			}
		}
	}

	@media (min-width: $screen-md-min) {

	}

	@media (min-width: $screen-lg-min) {

	}

	@media (min-width: $screen-lg-min) {

	}
}
