* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}



body {
	color: $color-base;
	font-family: $font-base;
	background-color: $body-bg;
	font-size: $font-size-base;
	line-height: $line-height-base;
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left:  ($gutter / 2);
	padding-right: ($gutter / 2);
	@include clearfix;

	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}

	@media (min-width: $screen-md-min) {
		width: $container-md;
	}

	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}

	@media (min-width: $screen-xl-min) {
		width: $container-xl;
	}
}


//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $font-head;
	line-height: $headings-line-height;
}

h1, .h1 {
	font-size: $h1-font-size;
	margin-bottom: $headings-margin-bottom;
}

h2, .h2 {
	font-size: $h2-font-size;
	margin-bottom: $headings-margin-bottom;
}

h3, .h3 {
	font-size: $h3-font-size;
	margin-bottom: $headings-margin-bottom;
}

h4, .h4 {
	font-size: $h4-font-size;
	margin-bottom: $headings-margin-bottom;
}

h5, .h5 {
	font-size: $h5-font-size;
	margin-bottom: $headings-margin-bottom;
}

h6, .h6 {
	font-size: $h6-font-size;
	margin-bottom: $headings-margin-bottom;
}

p {
	margin-bottom: $headings-margin-bottom;
}

a {
	color: $color-link;
	text-decoration: $link-decoration;

	&:hover {
		text-decoration: $link-hover-decoration;
	}
}