

.header-search {
	color: #fff;
	padding-top: 55px;
	padding-bottom: 35px;
	background: url("../img/header_search.jpg") 50% 50% no-repeat;
	background-size: cover;

	.container {
		position: relative;
	}

	h1 {
		font-size: 30px;
		font-weight: 900;
		line-height: 1;
		text-align: center;
		margin-top: 0;
		margin-bottom: 12px;
	}

	.header-content {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: center;
	}

	.header-search-total {
		color: #fff;
		font-size: 14px;
		line-height: 20px;
		padding: 6px 10px;
		margin-bottom: 30px;
		display: inline-block;
		border: 1px solid #fff;
		@include border-radius(3px);
	}

	.header-search-btn {
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 15px;
		padding: 13px 47px;
		text-transform: uppercase;
	//@include border-radius(3px);
	}

	.header-content-text {
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	@media (min-width: $container-md) {
		padding-top: 40px;
		padding-bottom: 50px;

		.header-content {
			top: 0;
			right: 15px;
			text-align: left;
			position: absolute;
		}

		.header-search-total {
			margin-bottom: 0;
		}

		.header-search-btn {
			padding: 8px 24px;
		}
	}

	@media (min-width: $container-lg) {
		padding-top: 60px;
		padding-bottom: 75px;
	}
}

.main {
	z-index: 5;
	position: relative;
	font-family: "raleway";
	padding-top: 30px;
	padding-bottom: 100px;
	background: #f6fafd;

	@media (min-width: $container-sm) {

	}

	@media (min-width: $container-md) {

	}
}

.main-row {
	width: 100%;

	.main-content {
		min-height: 1px;
	}

	.main-sidebar {
		min-height: 1px;
	}

	@media (min-width: $container-md) {
		display: table;

		.main-sidebar {
			width: 250px;
			display: table-cell;
			vertical-align: top;
		}

		.main-content {
			display: table-cell;
			vertical-align: top;
			padding-right: 30px;
		}
	}

	@media (min-width: $container-lg) {

		.main-content {
			padding-right: 50px;
		}
	}
}

.main-filter-wrap {
	z-index: 8;
	position: relative;
}

.filter-toggle {
	width: 100%;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	color: $color-black;
	padding: 17px 15px;
	text-align: center;
	margin-bottom: 30px;
	display: inline-block;
	border: 2px solid $color-blue;
	@include border-radius(3px);

	span {
		height: 20px;
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
		position: relative;
		display: inline-block;
	}

	> span {

		&:before {
			bottom: 0;
			right: 12px;
			z-index: 1;
			width: 7px;
			height: 3px;
			content: '';
			position: absolute;
			background: #101e2d;
		}

		> span {
			padding-right: 40px;

			&:before {
				top: 0;
				right: 0;
				z-index: 1;
				width: 29px;
				height: 3px;
				content: '';
				position: absolute;
				background: #101e2d;
			}

			&:after {
				top: 8px;
				right: 5px;
				z-index: 1;
				width: 19px;
				height: 3px;
				content: '';
				position: absolute;
				background: #101e2d;
			}
		}
	}

	&:hover {
		color: $color-black;
	}

	@media (min-width: $container-md) {
		display: none;
	}
}

.main-filter {
	top: 100%;
	left: 0;
	right: 0;
	z-index: 8;
	display: none;
	background: #fff;
	padding: 15px 15px;
	position: absolute;
	@include border-radius(4px);
	@include box-shadow(0px 0px 25px 0px rgba(58, 64, 91, 0.07));

	&.open {
		display: block;
	}

	.main-filter-box {
		margin-bottom: 40px;
	}

	.filter-box-second {
		display: none;
	}

	.filter-slider {
	}

	.btn {
		width: 100%;
	}

	@media (min-width: $container-md) {
		top: auto;
		left: auto;
		right: auto;
		display: block;
		position: relative;

		.filter-box-second {
			display: block;
		}
	}
}

.filter-box-second {

	&:last-child {
		margin-bottom: 0;
	}
}

.sidebar-heading {
	font-size: 16px;
	font-weight: 800;
	line-height: 20px;
	margin-bottom: 15px;
}

.form-group {
	margin-bottom: 20px;
}


.form-slider {
	padding-bottom: 10px;

	.irs-line {
		top: 15px;
	}

	.irs-bar {
		top: 15px;
		background: #0cc0d7;
	}

	.irs-line-left {
		background: #eff1f6;
		@include border-radius(4px 0 0 4px);
	}

	.irs-line-mid {
		background: #eff1f6;
	}

	.irs-line-right {
		background: #eff1f6;
		@include border-radius(0 4px 4px 0);
	}

	.irs-slider {
		top: 8px;
		background: #fff;
		@include border-radius(50%);
		@include box-shadow(0px 7px 20px 0px rgba(34, 35, 40, 0.4));
	}

	.irs-min,
	.irs-max {
		display: none !important;
		visibility: hidden !important;
	}

	.irs-from,
	.irs-to,
	.irs-single {
		top: auto;
		bottom: -15px;
		color: #282828;
		font-size: 14px;
		font-weight: 600;
		line-height: 16px;
		background: transparent;
	}
}

.form-label {
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	margin-bottom: 5px;
}

.form-select {
	width: 100%;
}

.check-group {
	margin: 0;
	padding: 0;
	list-style: none;

	> li {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.form-check {
	margin: 0;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	position: relative;
	display: inline-block;

	input {
		display: none;
	}

	.icons {
		top: 0;
		left: 0;
		content: '';
		display: none;
		visibility: hidden;
		position: absolute;
	}

	.form-check-text {
		color: #282828;
		font-size: 12px;
		font-weight: 600;
		line-height: 18px;
		position: relative;
		padding-left: 25px;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			z-index: 1;
			content: '';
			width: 18px;
			height: 18px;
			position: absolute;
			display: inline-block;
			border: 2px solid #e4e7ef;
			@include border-radius(3px);
		}

		&:after {
			top: 0;
			left: 0;
			z-index: 2;
			content: '';
			width: 18px;
			height: 18px;
			position: absolute;
			visibility: hidden;
			display: inline-block;
			background: #00bcd6 url("../img/icon_check.png") 2px 2px no-repeat;
			opacity: 0;
			@include border-radius(3px);
		}
	}

	input:checked + .form-check-text::after {
		opacity: 1;
		visibility: visible;
	}
}

.select2-results {
	overflow-x: hidden;
	overflow-y: auto;
}

.select2-search-choice {
	color: #2a2a2a !important;
	background-color: #b0ebf3 !important;

	.select2-search-choice-close {
		transition: opacity 0.25s linear;
		top: 0px;
		width: 100%;
		text-align: right;
		right: 0px;
		bottom: 0px;
		color: #2a2a2a !important;
		padding-right: 10px;
		font-size: 12px;
		text-decoration: none;
		position: absolute;
		z-index: 2;
		cursor: pointer;
		opacity: 0;
		-webkit-transition: opacity .25s linear;
	}
}


@keyframes love {
	0% {
		transform: scale(1);
	}
	25%{
		transform: scale(0.94);
	}
	50%{
		transform: scale(1.05);
	}
	100% {
		transform: scale(1);
	}
}

.ico-svg {
	position: relative;
	display: inline-block;
	width: auto;
	height: 20px;
	fill: #999999;
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}


.btn-blue {
	color: #fff;
	padding: 11px 14px;
	border-radius: 4px;
	border: 1px solid $color-blue;
	border-image: none;
	text-align: center;
	line-height: 20px;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	vertical-align: middle;
	display: inline-block;
	white-space: nowrap;
	cursor: pointer;
	background: $color-blue;
	@include border-radius(3px);

	-ms-user-select: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	background-image: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;

	&:hover {
		color: #fff;
		background: #0edcf9;
		border-color: #0edcf9;
		text-decoration: none;
	}
}

.btn-border {
	color: $color-blue;
	background: transparent;

	&:hover {
		color: #fff;
		background: $color-blue;
		border-color: $color-blue;
	}
}

.instructor-like {
	z-index: 50;
	width: 17px;
	height: 14px;

	svg {
		width: 100%;
		height: 100%;
	}

	.heart{
		width: 17px;
		height: 14px;
		display: inline-block;
		cursor: pointer;
		animation-duration: .45s;
		animation-timing-function: ease;
		animation-direction: alternate;

		svg{
			fill: transparent;
			color: transparent;
			stroke: #8d8d8d;
			transition: all .55s ease;
		}
	}

	&:hover {

		.heart {

			svg {
				stroke: #e73e3e;
			}
		}
	}

	.layer {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 1;
		width: 100%;
		height: 100%;
		display: inline-block;
		transform: scale(0);
		pointer-events: none;

		svg{
			fill: #e73e3e;
			color: #e73e3e;
		}
	}

	.hackyBox{
		position: absolute;
		top: 0;
		left: 0;
		width: 17px;
		height: 14px;
		opacity: 0;
		cursor: pointer;

		&:checked {
			~ .heart {
				animation-name: love;

				svg {
					stroke: #e73e3e;
				}
			}
			~ .layer {
				transform: scale(1);
				opacity: 1;
				z-index: -1;
				transition: transform .35s ease, opacity .35s ease;
			}
		}
	}
}

.instructor {
	background: #fff;
	padding: 30px 15px;
	margin-bottom: 30px;
	@include box-shadow(0px 0px 25px 0px rgba(58, 64, 91, 0.07));

	&:last-child {
		margin-bottom: 0;
	}

	.instructor-left {
		padding-bottom: 30px;
		border-bottom: 2px solid #dddddd;
	}

	.instructor-right {
		padding-top: 35px;
	}

	h5 {
		padding: 0;
		font-size: 14px;
		font-weight: 700;
		line-height: 16px;
		list-style: none;
		margin: 0 0 10px 0;
	}

	.instructor-info {
		margin-bottom: 20px;
		@include flexbox();
		@include flex-direction(column);
		@include flex-wrap(nowrap);

		.instructor-info-left {
			text-align: center;
			margin-bottom: 15px;
		}

		.instructor-info-right {
			width: 100%;
		}

		.instructor-photo {
			width: 145px;
			overflow: hidden;
			margin: 0 auto 15px auto;
			@include border-radius(50%);
		}

		.instructor-position {
			color: #fff;
			font-size: 13px;
			line-height: 20px;
			padding: 2px 15px;
			background: #f6a02d;
			text-transform: uppercase;
			@include border-radius(3px);
		}

		.instructor-heading {
			position: relative;
			padding-right: 20px;
			margin-bottom: 10px;
			@include clearfix();

			.instructor-like {
				top: 1px;
				right: 0;
				position: absolute;
			}

			.instructor-name {
				float: left;
				font-size: 16px;
				font-weight: 700;
				line-height: 20px;
				display: inline-block;
			}

			.instructor-check {
				float: left;
				width: 20px;
				height: 20px;
				margin-left: 7px;
				position: relative;
				display: inline-block;
				background: url("../img/icon_check_green.png") 50% 50% no-repeat;
			}

			.instructor-lock {
				float: left;
				width: 20px;
				height: 20px;
				position: relative;
				margin-left: 1px;
				display: inline-block;
				background: url("../img/icon_lock_yellow.png") 50% 50% no-repeat;
			}
		}

		.instructor-rate {
			margin-bottom: 5px;
			@include clearfix();

			.rate-title {
				float: left;
				font-size: 13px;
				line-height: 16px;
				padding: 4px 5px 2px 0;
			}

			.rate-content {
				float: left;
				margin-right: 15px;
			}

			.rate-review {
				float: left;
				font-size: 13px;
				line-height: 16px;
				color: $color-blue;
				padding-top: 4px;
				display: inline-block;
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.instructor-orders {
			margin-bottom: 10px;
			@include clearfix();

			.instructor-orders-text {
				float: left;
				padding-top: 2px;
				margin-right: 8px;
			}

			.instructor-orders-peoples {
				margin: 0;
				padding: 0;
				float: left;
				list-style: none;
				@include clearfix();

				li {
					float: left;
					overflow: hidden;
					margin-left: -9px;
					@include border-radius(50%);

					&:first-child {
						margin-left: 0;
					}
				}
			}
		}

		.instructor-specialization {

			ul  {
				margin: 0;
				padding: 0;
				font-size: 13px;
				line-height: 16px;
				list-style: none;

				li {
					margin-bottom: 5px;

					span {
						color: $color-blue;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.instructor-skills {

		.instructor-cert {
			margin-bottom: 25px;

			h5 {
				margin-bottom: 15px;
			}

			ul {
				padding: 0;
				margin: 0 -5px;
				list-style: none;
				@include clearfix();

				li {
					width: 25%;
					float: left;
					padding: 0 5px;

					a {
						display: block;
						overflow: hidden;
						@include border-radius(3px);
						@include box-shadow(0px 0px 5px 0px rgba(58, 64, 91, 0.17));
					}
				}
			}
		}

		.instructor-progress {
			margin: 0;
			padding: 0;
			list-style: none;
			font-size: 13px;
			line-height: 20px;

			li {
				margin-bottom: 15px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	.instructor-program {
		margin: 0;
		padding: 0;
		font-size: 13px;
		line-height: 20px;
		list-style: none;

		> li {
			margin-bottom: 25px;
		}

		.instructor-program-title {
			width: 100%;
			display: table;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			margin-bottom: 15px;

			strong {
				display: table-cell;
				vertical-align: top;
			}

			span {
				text-align: right;
				color: $color-blue;
				display: table-cell;
				vertical-align: top;
				white-space: nowrap;
			}
		}

	}

	.instructor-buttons {
		padding: 0;
		margin: 0 -5px;
		list-style: none;
		@include clearfix();

		> li {
			width: 50%;
			float: left;
			padding: 0 5px;
		}

		.btn-blue {
			width: 100%;
		}
	}

	@media (min-width: $container-xs) {
		padding-bottom: 40px;

		.instructor-info {
			@include flex-direction(row);

			.instructor-info-left {
				width: 155px;
				min-width: 155px;
				margin-bottom: 0;
				padding-left: 10px;
			}

			.instructor-info-right {
				padding-left: 20px;
			}
		}

		.instructor-skills {
			@include clearfix();

			.instructor-cert {

				ul {

					li {
						width: 104px;
						max-width: 104px;
					}
				}
			}

			.instructor-progress {

			}
		}
	}

	@media (min-width: $container-sm) {
		padding: 30px 30px 40px 30px;

		.instructor-left {
			padding-bottom: 10px;
		}

		.instructor-right {
			padding-top: 15px;
		}

		.instructor-info {

			.instructor-info-left {
				width: 145px;
				min-width: 145px;
				padding-left: 0;
			}

			.instructor-specialization {

				ul {
					margin: 0 -10px;
					@include flexbox();
					@include flex-wrap(wrap);

					li {
						width: 50%;
						min-width: 50%;
						max-width: 100%;
						padding: 0 10px;
					}
				}
			}
		}

		.instructor-skills {
			margin: 0 -15px;
			@include clearfix();

			.instructor-cert {
				width: 50%;
				float: left;
				padding: 0 15px;
				margin-bottom: 0;

				ul {
					margin: 0 -10px;

					li {
						width: 108px;
						padding: 0 10px;
						margin-bottom: 15px;
					}
				}
			}

			.instructor-progress {
				width: 50%;
				float: left;
				padding: 25px 15px 0 15px;
			}
		}

		.instructor-program {
			margin: 0 -15px;
			@include flexbox();
			@include flex-direction(row);
			@include flex-wrap(wrap);

			li {
				width: 50%;
				min-width: 50%;
				max-width: 50%;
				padding-left: 15px;
				padding-right: 15px;
				margin-bottom: 30px;
			}
		}
	}

	@media (min-width: $container-md) {
		padding: 20px 0 20px 0;
		@include flexbox();
		@include flex-wrap(wrap);

		h5 {
			font-size: 13px;
		}

		.instructor-left {
			width: 58%;
			max-width: 58%;
			min-width: 58%;
			padding: 0 20px;
			border-bottom: none;
			border-right: 2px solid #ddd;
		}

		.instructor-right {
			width: 42%;
			padding: 0 20px;
			max-width: 42%;
			min-width: 42%;
			@include flexbox();
			@include flex-direction(column);
			@include justify-content(space-between);
		}

		.instructor-info {

			.instructor-heading {

				.instructor-name {
					float: left;
					font-size: 13px;
					font-weight: 700;
					line-height: 20px;
					display: inline-block;
				}
			}

			.instructor-rate {

				.rate-title {
					font-size: 10px;
				}

				.rate-review {
					font-size: 10px;
				}
			}

			.instructor-orders {

				.instructor-orders-text {
					font-size: 10px;
				}
			}

			.instructor-specialization {

				ul {
					font-size: 10px;
					line-height: 15px;

					li {
						width: 100%;
						min-width: 100%;
						max-width: 100%;
					}
				}
			}
		}

		.instructor-skills {
			margin: 0 -10px;
			@include clearfix();

			.instructor-cert {
				width: 50%;
				float: left;
				padding: 0 10px;
				margin-bottom: 0;

				ul {
					margin: 0 -5px;

					li {
						width: 50%;
						padding: 0 5px;
						margin-bottom: 10px;
					}
				}
			}

			.instructor-progress {
				width: 50%;
				float: left;
				font-size: 10px;
				line-height: 15px;
				padding: 25px 10px 0 10px;
			}
		}

		.instructor-program {
			margin: 0 -20px;
			font-size: 10px;
			line-height: 15px;

			li {
				width: 100%;
				padding: 10px 20px;
				min-width: 100%;
				max-width: 100%;
				margin-bottom: 0;

				&:nth-child(even) {
					background: #fafafa;
				}
			}

			.instructor-program-title {
				font-size: 12px;
				line-height: 16px;
				margin-bottom: 10px;
			}
		}
	}

	@media (min-width: $container-lg) {
		padding: 25px 0 25px 0;

		h5 {
			font-size: 14px;
		}

		.instructor-left {
			padding-left: 30px;
		}

		.instructor-info {

			.instructor-heading {

				.instructor-name {
					float: left;
					font-size: 16px;
					font-weight: 700;
					line-height: 20px;
					display: inline-block;
				}
			}

			.instructor-rate {

				.rate-title {
					font-size: 13px;
				}

				.rate-review {
					font-size: 13px;
				}
			}

			.instructor-orders {

				.instructor-orders-text {
					font-size: 13px;
				}
			}

			.instructor-specialization {

				ul {
					font-size: 13px;
					line-height: 20px;
				}
			}
		}

		.instructor-skills {
			margin: 0 -10px;
			@include clearfix();

			.instructor-cert {
				width: 50%;
				float: left;
				padding: 0 10px;
				margin-bottom: 0;

				ul {
					margin: 0 -5px;

					li {
						width: 50%;
						padding: 0 5px;
						margin-bottom: 10px;
					}
				}
			}

			.instructor-progress {
				width: 50%;
				float: left;
				font-size: 13px;
				line-height: 20px;
				padding: 25px 10px 0 10px;
			}
		}

		.instructor-program {
			margin: 0 -20px;
			font-size: 12px;
			line-height: 20px;

			li {
				width: 100%;
				padding: 10px 20px;
				min-width: 100%;
				max-width: 100%;
				margin-bottom: 0;

				&:nth-child(even) {
					background: #fafafa;
				}
			}

			.instructor-program-title {
				font-size: 14px;
				line-height: 20px;
				margin-bottom: 15px;
			}
		}

	}
}


.main-sort {
	padding: 20px 15px;
	background: #fff;
	margin-bottom: 30px;
	@include box-shadow(0px 0px 25px 0px rgba(58, 64, 91, 0.07));

	.main-sort-row {
		padding: 0;
		margin: 0;
		width: 100%;
		display: table;
		list-style: none;
		@include clearfix();
		text-align: left;

		 > li {
			 width: 50%;
			 font-size: 14px;
			 line-height: 20px;
			 padding: 0 5px;
			 text-align: left;
			 display: table-cell;
			 vertical-align: middle;

			 &:nth-child(1) {
				 display: none;
			 }

			 &:nth-child(4) {
				 display: none;
			 }

			 &:nth-child(5) {
				 display: none;
			 }
		 }
	}

	.sort-checkbox {
		width: 100%;
		cursor: pointer;
		font-weight: 400;
		display: inline-block;

		input {
			display: none;
		}

		span {
			width: 100%;
			color: #2a2a2a;
			font-size: 12px;
			font-weight: 600;
			line-height: 20px;
			display: inline-block;
			position: relative;
			padding: 6px 12px;
			white-space: nowrap;
			border: 1px solid $color-blue;
			@include border-radius(4px);

			i {
				top: 50%;
				right: 13px;
				width: 9px;
				height: 6px;
				margin-top: -3px;
				position: absolute;
				display: inline-block;
				background: url("../img/icon_down.png") 0 0 no-repeat;
			}
		}

		input:checked + span {
			color: #fff;
			background: $color-blue;

			i {
				@include rotate(180deg);
			}
		}

		&.sort-checkbox-arrow {

			span {
				padding-right: 30px;
			}

			input:checked + span {
				color: #2a2a2a;
				background: transparent;

				i {
					@include rotate(180deg);
				}
			}
		}
	}


	@media (min-width: $container-xs) {
		padding: 20px 25px;

		.main-sort-row {

			> li {

				&:nth-child(1) {
					width: 85px;
					font-weight: 600;
					display: table-cell;
				}
			}
		}
	}

	@media (min-width: $container-sm) {

		.main-sort-row {

			> li {

				&:nth-child(4) {
					width: 150px;
					display: table-cell;
				}
			}
		}
	}

	@media (min-width: $container-lg) {

		.main-sort-row {

			> li {

				&:nth-child(2) {
					width: 150px;
				}

				&:nth-child(3) {
					width: 150px;
				}

				&:nth-child(4) {
					width: 150px;
					display: table-cell;
				}

				&:nth-child(5) {
					text-align: right;
					font-weight: 600;
					color: $color-blue;
					white-space: nowrap;
					display: table-cell;
				}
			}
		}
	}
}

.select2-no-results {
	display: none !important;
}


// Modal

.btn_close {
	top: 28px;
	right: 28px;
	z-index: 50;
	width: 20px;
	height: 20px;
	cursor: pointer;
	position: absolute;

	&:after,
	&:before {
		top: 50%;
		left: 50%;
		z-index: 5;
		width: 20px;
		height: 1px;
		content: '';
		background: #333;
		position: absolute;
		margin: -1px 0 0 -10px;
	}

	&:after {
		@include rotate(45deg);
	}

	&:before {
		@include rotate(-45deg);
	}
}

.main-modal {
	max-width: 450px;
	background: #fff;
	padding: 40px 20px;
	position: relative;


	.main-modal-wrap {
		margin: 0 auto;
		max-width: 380px;
	}

	.main-modal-title {
		color: #000;
		font-size: 22px;
		font-weight: 900;
		line-height: 22px;
		text-align: center;
		margin-bottom: 45px;
	}

	.main-modal-row {
		margin-bottom: 15px;
		@include clearfix();

		.main-modal-column {

		}
	}

	.modal-program {
		margin: 0;
		padding: 0;
		list-style: none;

		> li {
			margin-bottom: 25px;
		}

		.program-elem {

			input[type="radio"] {
				display: none;
			}

			.program-content {
				font-size: 13px;
				line-height: 20px;
				padding-left: 35px;
				position: relative;

				&:before {
					top: 4px;
					left: 0;
					z-index: 1;
					content: '';
					width: 18px;
					height: 18px;
					position: absolute;
					display: inline-block;
					border: 2px solid #e4e7ef;
					@include border-radius(3px);
				}

				&:after {
					top: 4px;
					left: 0;
					z-index: 2;
					content: '';
					width: 18px;
					height: 18px;
					position: absolute;
					visibility: hidden;
					display: inline-block;
					background: #00bcd6 url('../img/icon_check.png') 2px 2px no-repeat;
					opacity: 0;
					@include border-radius(3px);
				}

				.program-title {
					width: 100%;
					display: table;
					font-size: 14px;
					font-weight: 700;
					line-height: 20px;
					margin-bottom: 15px;

					strong {
						display: table-cell;
						vertical-align: top;
					}

					span {
						text-align: right;
						color: #00bcd6;
						display: table-cell;
						vertical-align: top;
						white-space: nowrap;
					}
				}

				.program-text {

				}
			}

			input[type="radio"]:checked + .program-content::after {
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.modal-buttons {
		padding: 0;
		margin: 0 -5px;
		list-style: none;
		@include clearfix();

		> li {
			width: 50%;
			float: left;
			padding: 0 5px;
		}

		.btn-blue {
			width: 100%;
		}
	}

	.main-modal-content {
		font-size: 14px;
		line-height: 24px;

		h5 {
			padding: 0;
			font-size: 16px;
			font-weight: 900;
			line-height: 20px;
			margin: 0 0 10px 0;
		}

		p {
			font-size: 14px !important;
			line-height: 24px !important;
			margin-bottom: 30px;
		}
	}

	@media (min-width: $container-xs) {
		padding: 40px 40px;
	}

	@media (min-width: $container-sm) {
		max-width: 720px;
	}

	@media (min-width: $container-md) {
		width: 940px;
		padding: 40px 65px 50px 65px;
		max-width: inherit;

		.main-modal-wrap {
			max-width: inherit;
		}

		.main-modal-row {
			margin: 0 -35px 25px -35px;

			.main-modal-column {
				width: 50%;
				padding: 0 35px;

				&.column-left {
					float: left;
				}

				&.column-right {
					float: right;
				}
			}
		}

		.modal-buttons {
			width: 350px;
		}

		.modal-form-content {
			width: 340px;
		}
	}

	@media (min-width: $container-lg) {

	}
}

.tooltip {
	width: 1px;
	height: 1px;
	overflow: hidden;
	visibility: hidden;
	font-size: 12px;
	line-height: 16px;
	background: #fff;
	white-space: nowrap;

	border-radius: 6px !important;

	&.top {
		top: -36px !important;
		padding: 0;
	}

	&.right {
		top: -36px !important;
		margin-left: -38px !important;
		padding: 0;
	}

	&:before {
		top: 100%;
		left: 20px;
		content: '';
		position: absolute;
		border: 8px solid transparent;
		border-top: 8px solid #fff;

	}

	@media (min-width: $container-sm) {
		width: auto;
		height: auto;
		overflow: inherit;
		visibility: visible;
	}
}

.tooltip-inner {
	overflow: hidden;
	white-space: nowrap;
	color: #1b1b1b !important;
	background: transparent;
	padding: 4px 12px !important;
	border-radius: 3px !important;
	box-shadow: 0px 3px 16px 0px rgba(48, 51, 65, 0.15) !important;

}

.tooltip-inner11{
	padding: 3px 8px; border-radius: 4px; text-align: center; color: rgb(255, 255, 255); text-decoration: none; max-width: 200px; background-color: rgb(0, 0, 0);
}


.select2-search-choice  {
	padding-right: 20px !important;
	//padding-left: 14px !important;

	.select2-search-choice-close {
		opacity: 1 !important;

		&:after {
			color: #2a2a2a !important;
			font-size: 8px !important;
		}
	}
}