
.header-training {
	color: #fff;
	padding-top: 100px;
	padding-bottom: 80px;
	background: url("../img/header_training.jpg") 50% 50% no-repeat;
	background-size: cover;

	.container {
		position: relative;
	}

	h1 {
		color: #fff;
		font-size: 30px;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
	}

	.header-training-icon {
		width: 68px;
		display: block;
		margin: 0 auto 10px auto;
	}

	@media (min-width: $container-md) {
		height: 340px;
		padding-top: 135px;
		padding-bottom: 100px;

		h1 {
			font-size: 48px;
		}
	}

	@media (min-width: $container-lg) {

	}
}


.main-white {
	background: #fff;
}

.flex-row {
	width: 100%;
	@include flexbox();
	@include flex-wrap(nowrap);
	@include flex-direction(column);


	.flex-content {
		min-height: 1px;
		order: 2;
	}

	.flex-sidebar {
		min-height: 1px;
		order: 1;

	}

	@media (min-width: $container-md) {
		@include flex-direction(row);

		.flex-sidebar {
			width: 250px;
			order: 2;
		}

		.flex-content {
			order: 1;
			padding-right: 30px;
			@include flex(1);
		}
	}

	@media (min-width: $container-lg) {

		.flex-content {
			padding-right: 50px
		;
		}
	}
}

.btn-radius {
	color: #b8c3cd;
	font-size: 14px;
	font-weight: 700;
	line-height: 20px;
	padding: 2px 10px;
	background: #ffffff;
	display: inline-block;
	border: 1px solid #b8c3cd;
	font-family: $font-open-sans;
	@include border-radius(13px);

	&:hover {
		color: #fff;
		background: #00bcd4;
		border-color: #00bcd4;
	}

}

.checkbox-lap {
	cursor: pointer;
	color: #b1bdc7;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	position: relative;
	display: inline-block;
	font-family: $font-open-sans;

	input[type='checkbox'] {
		display: none;
	}

	span {
		padding: 4px 0 0 35px;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			z-index: 5;
			content: '';
			width: 25px;
			height: 25px;
			position: absolute;
			border: 1px solid #e6eaee;
			@include border-radius(50%);
		}

		&:after {
			top: 7px;
			left: 6px;
			z-index: 10;
			content: '';
			width: 13px;
			height: 11px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			background: url("../img/icon_check.svg") 0 0 no-repeat;
			background-size: cover;
		}

		&:hover {
			color: #00bcd4;

			&:before {
				border-color: #00bcd4;
			}
		}
	}


	input[type='checkbox']:checked + span {
		color: #00bcd4;

		&:before {
			background: #00bcd4;
			border-color: #00bcd4;
		}

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.radio-lap {
	cursor: pointer;
	color: #b1bdc7;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	position: relative;
	display: inline-block;
	font-family: $font-open-sans;

	input[type='radio'] {
		display: none;
	}

	span {
		padding: 4px 0 0 35px;
		display: inline-block;

		&:before {
			top: 0;
			left: 0;
			z-index: 5;
			content: '';
			width: 25px;
			height: 25px;
			position: absolute;
			border: 1px solid #e6eaee;
			@include border-radius(50%);
		}

		&:after {
			top: 7px;
			left: 7px;
			z-index: 10;
			content: '';
			width: 11px;
			height: 11px;
			opacity: 0;
			visibility: hidden;
			position: absolute;
			background: #00bcd4;
			background-size: cover;
			@include border-radius(50%);
		}

		&:hover {
			color: #00bcd4;

			&:before {
				border-color: #00bcd4;
			}
		}
	}


	input[type='radio']:checked + span {
		color: #00bcd4;

		&:before {
			border-color: #00bcd4;
		}

		&:after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.training {
	max-width: 350px;
	overflow: hidden;
	background: #fff;
	margin: 0 auto 16px auto;
	border: 1px solid #e6eaee;
	font-family: $font-open-sans;
	@include border-radius(6px);
	@include box-shadow(0 8px 18px rgba(0, 0, 1, 0.1));

	.training-media {
		overflow: hidden;
	}

	.training-media-wrap {
		width: 100%;
		max-width: 100%;
		overflow: hidden;
		position: relative;
	}

	.training-media-slider {
		position: relative;
		overflow: hidden;

		.slider-item {
			border: none;
			outline: none;

			> a {
				display: block;
				position: relative;
			}
		}

		.training-play {
			top: 50%;
			left: 50%;
			z-index: 50;
			width: 74px;
			height: 74px;
			color: #fff;
			padding: 17px 0 17px 7px;
			font-size: 28px;
			line-height: 28px;
			text-align: center;
			position: absolute;
			margin: -37px 0 0 -37px;
			border: 6px solid #f3f3f3;
			background-color: #000000;
			opacity: 0.7;
			@include border-radius(50%);
			@include transition(0.3s);

			&:hover {
				opacity: 1;
				@include transition(0.3s);
			}
		}

		.slick-dots {
			left: 0;
			right: 0;
			bottom: 20px;
			margin: 0;
			padding: 0;
			z-index: 11;
			font-size: 0;
			line-height: 0;
			text-align: center;
			list-style: none;
			position: absolute;

			li {
				margin: 0 2px;
				display: inline-block;

				button {
					margin: 0;
					padding: 0;
					width: 8px;
					height: 8px;
					opacity: 0.7;
					border: none;
					outline: none;
					position: relative;
					background: transparent;
					display: inline-block;
					@include border-radius(50%);

					&:before {
						top: 2px;
						left: 2px;
						width: 4px;
						height: 4px;
						content: '';
						background: #fff;
						position: absolute;
						@include border-radius(50%);
					}
				}

				&.slick-active {

					button {
						background: #fff;
					}
				}
			}
		}

		.slide-nav {
			top: 50%;
			height: 18px;
			color: #fff;
			z-index: 10;
			font-size: 18px;
			margin-top: -9px;
			line-height: 18px;
			cursor: pointer;
			opacity: 0.7;
			position: absolute;
			display: inline-block;
			@include transition(0.3s);

			&:hover {
				opacity: 1;
				@include transition(0.3s);
			}

			&.prev {
				left: 25px;
			}

			&.next {
				right: 25px;
			}
		}
	}

	.training-body {
		position: relative;
	}

	.training-rate {
		top: -1px;
		right: -1px;
		z-index: 20;
		width: 74px;
		height: 71px;
		display: none;
		color: #fff;
		font-size: 16px;
		font-weight: 700;
		line-height: 16px;
		position: absolute;
		padding: 15px 0 0 44px;
		background: url("../img/blue_corner.png") 0 0 no-repeat;
	}

	.training-heading {
		color: #1a1c1d;
		font-size: 20px;
		font-weight: 700;
		line-height: 26px;
		margin-bottom: 20px;
		font-family: raleway;
	}

	.training-content {
		padding: 25px 25px 10px 25px;
	}


	.training-elem {
		padding: 0;
		list-style: none;
		margin: 0 -8px 0 0;
		@include clearfix();

		> li {
			float: left;
			margin: 0 8px 12px 0;

			&:first-child {
				width: 100%;
			}
		}

		.training-elem-text {
			color: #707679;
			font-size: 14px;
			font-weight: 300;
			line-height: 20px;
			display: inline-block;
			font-family: $font-open-sans;
		}
	}

	.training-footer {
		padding: 10px 20px;
		background-color: #f4f7f9;
		@include clearfix();
	}

	.training-result {
		margin: 0;
		padding: 0;
		font-size: 0;
		line-height: 0;
		float: right;
		list-style: none;

		> li {
			float: left;
			text-align: center;
			margin-left: 6px;

			&:first-child {
				width: 100%;
				color: #707679;
				font-size: 14px;
				font-weight: 300;
				line-height: 20px;
				text-align: left;
				padding: 12px 5px 10px 0;
				font-family: $font-open-sans;
			}

			&:last-child {
				padding-top: 7px;
				padding-left: 10px;
			}
		}

		.training-result-icon {
			width: 32px;
			height: 32px;
			display: block;
			overflow: hidden;
			border: 3px solid transparent;
			@include border-radius(50%);

			&.border-yellow {
				border-color: #efe650;
			}

			&.border-blue {
				border-color: #c3dae0;
			}

			&.border-orange {
				border-color: #ffa42e;
			}
		}

		.training-result-value {
			color: #b8c3cd;
			font-size: 14px;
			font-weight: 700;
			line-height: 14px;
			padding-top: 5px;
			display: inline-block;
			font-family: $font-open-sans;
		}

		.result-total {
			color: #fff;
			width: 36px;
			height: 28px;
			padding: 4px 0;
			font-size: 14px;
			font-weight: 700;
			line-height: 20px;
			text-align: center;
			display: inline-block;
			background-color: #b8c3cd;
			font-family: $font-open-sans;
			@include border-radius(14px);
		}
	}

	@media (min-width: $container-sm) {

		width: 100%;
		max-width: 100%;
		@include flexbox();
		@include flex-wrap(nowrap);

		.training-media {
			width: 349px;
		}

		.training-rate {
			display: inline-block;
		}

		.training-body {
			@include flex(1);
			@include flexbox();
			@include flex-direction(column);
		}

		.training-content {
			@include flex(1);
		}

		.training-elem {

			> li {

				&:first-child {
					width: auto;
				}
			}
		}

		.training-footer {

		}

		.training-result {

			> li {

				&:first-child {
					width: auto;
				}
			}
		}

	}


	@media (min-width: $container-md) {}

	@media (min-width: $container-lg) {}
}

.filterTraining {
	max-width: 350px;
	margin: 0 auto 20px auto;

	.filterTraining-box {
		margin-bottom: 10px;

		&.filterTraining-toggle {

			.filterTraining-title {

				i {
					@include rotate(-90deg);
				}
			}

			.filterTraining-list {
				height: auto;
				padding: 20px 0;
				@include transition(.3s);
			}
		}
	}

	.filterTraining-title {
		color: #8a97a3;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		padding-right: 30px;
		display: inline-block;
		position: relative;
		font-family: $font-raleway;
		text-decoration: none;

		i {
			right: 0;
			top: 1px;
			position: absolute;
			@include rotate(90deg);
		}
	}

	.filterTraining-list {
		margin: 0;
		padding: 0;
		height: 0;
		overflow: hidden;
		list-style: none;
		@include transition(.3s);

		> li {
			margin-bottom: 10px;
		}
	}

	.filterTraining-line {
		*zoom: 1;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 7px;
		margin-top: 15px;
		background-color: #e6eaee;
		@include clearfix();

		input {
			top: 0;
			z-index: 0;
			opacity: 0;
			width: 20px;
			height: 20px;
			display: none !important;
			position: absolute;
			filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
		}
		input:checked ~ label {
			height: 7px;
			background: #fec46e;
		}

		label {
			width: 33.33%;
			height: 7px;
			float: right;
			color: #fff;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			text-align: center;
			position: relative;
			display: inline-block;
			z-index: 1;

			&:first-child {
				@include border-radius(4px 0 0 4px);
			}
		}
	}

	@media (min-width: $container-md) {
		margin: 0;

		.filterTraining-box {
			margin-bottom: 10px;

			&.filterTraining-toggle {

				.filterTraining-title {

					i {
						@include rotate(90deg);
					}
				}

				.filterTraining-list {
					height: 0;
					padding: 0;
					@include transition(.3s);
				}
			}
		}

		.filterTraining-title {

			i {
				@include rotate(-90deg);
			}
		}

		.filterTraining-list {
			height: auto;
			padding: 20px 0;
		}
	}
}