$body-bg:                       #fff;
$color-blue:                    #48afe2;

// Fonts

$font-size-base:                1rem !default;
$font-size-lg:                  ($font-size-base * 1.25) !default;
$font-size-sm:                  ($font-size-base * .875) !default;

$font-weight-base:              400 !default;
$line-height-base:              1.5 !default;

$h1-font-size:                  $font-size-base * 2.5 !default;
$h2-font-size:                  $font-size-base * 2 !default;
$h3-font-size:                  $font-size-base * 1.75 !default;
$h4-font-size:                  $font-size-base * 1.5 !default;
$h5-font-size:                  $font-size-base * 1.25 !default;
$h6-font-size:                  $font-size-base !default;


$font-base:                     Tahoma, Geneva, sans-serif !default;
$font-head:                     $font-base;

$spacer:                        1rem !default;
$headings-margin-bottom:        ($spacer / 2) !default;
$headings-line-height:          1.2 !default;

$color-base:                    #222;
$color-link:                    $color-blue !default;

$link-decoration:              underline!default;
$link-hover-decoration:        none!default;



	// layout

$container-sm:                  540px !default;
$container-md:                  720px !default;
$container-lg:                  960px !default;
$container-xl:                  1140px !default;


$gutter:                        30px !default;



$screen-xs-min:                 0;
$screen-sm-min:                 576px !default;
$screen-md-min:                 768px !default;
$screen-lg-min:                 992px !default;
$screen-xl-min:                 1200px !default;


$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
$screen-md-max:              ($screen-xl-min - 1) !default;
