
$container-xs:                  480px;
$container-sm:                  768px;
$container-md:                  992px;
$container-lg:                  1200px;

$color-blue:                    #00bcd6;
$color-black:                   #101e2d;

$font-raleway:                  'raleway', sans-serif;
$font-open-sans:                'Open Sans', sans-serif;


// Mixins

@import "mixins/gradients";
@import "mixins/center-block";
@import "mixins/vendor-prefixes";
@import "mixins/clearfix";
@import "mixins/flex";

@import "main_23_01_2017";
@import "training";


// Utilities


// Components

@font-face {
	font-family: Flat-UI-Pro-Icons;
	src: url('../fonts/glyphicons/flat-ui-icons-regular.eot?#iefix') format("embedded-opentype"),
	url('../fonts/glyphicons/flat-ui-icons-regular.woff') format("woff"),
	url('../fonts/glyphicons/flat-ui-icons-regular.ttf') format("truetype"),
	url('../fonts/glyphicons/flat-ui-icons-regular.svg#flat-ui-pro-icons-regular') format("svg");
}


.embed-responsive {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;

	.embed-responsive-item,
	iframe,
	embed,
	object,
	video {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		border: 0;
	}
}

// Modifier class for 16:9 aspect ratio
.embed-responsive-16by9 {
	padding-bottom: 56.25%;
}

// Modifier class for 4:3 aspect ratio
.embed-responsive-4by3 {
	padding-bottom: 75%;
}



.img-fluid {
	max-width: 100%;
	height: auto;
}

