@font-face {
	font-family: "raleway";
	src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot");
	src: url("../fonts/Raleway/RalewayRegular/RalewayRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Raleway/RalewayRegular/RalewayRegular.woff") format("woff"),
	url("../fonts/Raleway/RalewayRegular/RalewayRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "raleway";
	src: url("../fonts/Raleway/RalewayThin/RalewayThin.eot");
	src: url("../fonts/Raleway/RalewayThin/RalewayThin.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Raleway/RalewayThin/RalewayThin.woff") format("woff"),
	url("../fonts/Raleway/RalewayThin/RalewayThin.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "raleway";
	src: url("../fonts/Raleway/RalewayExtraLight/RalewayExtraLight.eot");
	src: url("../fonts/Raleway/RalewayExtraLight/RalewayExtraLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Raleway/RalewayExtraLight/RalewayExtraLight.woff") format("woff"),
	url("../fonts/Raleway/RalewayExtraLight/RalewayExtraLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 200;
}

@font-face {
	font-family: "raleway";
	src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot");
	src: url("../fonts/Raleway/RalewayLight/RalewayLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Raleway/RalewayLight/RalewayLight.woff") format("woff"),
	url("../fonts/Raleway/RalewayLight/RalewayLight.ttf") format("truetype");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: "raleway";
	src: url("../fonts/Raleway/RalewayMedium/RalewayMedium.eot");
	src: url("../fonts/Raleway/RalewayMedium/RalewayMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Raleway/RalewayMedium/RalewayMedium.woff") format("woff"),
	url("../fonts/Raleway/RalewayMedium/RalewayMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "raleway";
	src: url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot");
	src: url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.woff") format("woff"),
	url("../fonts/Raleway/RalewaySemiBold/RalewaySemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "raleway";
	src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot");
	src: url("../fonts/Raleway/RalewayBold/RalewayBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Raleway/RalewayBold/RalewayBold.woff") format("woff"),
	url("../fonts/Raleway/RalewayBold/RalewayBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot");
	src: url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.woff") format("woff"),
	url("../fonts/Raleway/RalewayExtraBold/RalewayExtraBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 800;
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway/RalewayBlack/RalewayBlack.eot");
	src: url("../fonts/Raleway/RalewayBlack/RalewayBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/Raleway/RalewayBlack/RalewayBlack.woff") format("woff"),
	url("../fonts/Raleway/RalewayBlack/RalewayBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: 900;
}